html{
	color: #606060;
	font-size: 16px;
	font-family: Arial, sans-serif;
	padding: 0;

}

body{
	padding: 0;
	margin: 0;
}

.wrapper{
	margin: 0 60px;
	padding: 0 8px;
}

/*
*{
outline: 1px solid red;
}
*/

header{
	border-bottom: 7px solid #e0e0e0;
	box-sizing: border-box;
	line-height: 21.86px;
}

h1{
	font-weight: normal;
	font-size: 30px;
	margin-top: 23px;
	margin-bottom: 8px;
}

.author{
	font-size: 14px;
	margin-top: 0;
}

.btn-wrapper{
	text-align: center;
	margin-top: 200px;
}

.btn{
	color: white;
	border-radius: 6px;
	border: none;
	background: #1881ac;
	background: linear-gradient(to bottom, #1881ac, #1eb4da);
	text-align: center;
	box-sizing: border-box;
	text-transform: uppercase;
}

.btn:hover{
	background: linear-gradient(to top, #1881ac, #1eb4da);
}

.btn-send{
	padding: 0 60px 0 75px;
	font-size: 24px;
	line-height: 24px;
	height: 82px;
}

.heading{
	color: #1881ac;
	font-size: 18px;
	margin: 20px 0 30px;
	
}

.select-wrapper{
	float: left;
	width: 200px;
	margin-bottom: 50px;
	margin-right: 10px;
}

.data-select {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.data-select li{
	margin-bottom: 6px;

}

label{
	font-size: 14px;
}

label:hover{
	color: #1881ac;
}

input[type="checkbox"]{
	display: none;
	vertical-align: bottom;
}

input[type="checkbox"]+label:before{
	content: "";
    display: inline-block;
	vertical-align: bottom;
    height: 22px;
    width: 15px;
	padding-right: 10px;
	background: 0 5px url(../img/checkbox_bg.png) no-repeat;
}

input[type="checkbox"]:checked+label:before{
	background: 4px 2px url(../img/checkbox_check.png) no-repeat, 0 5px url(../img/checkbox_bg.png) no-repeat;
}

input[type="submit"]{
	display: block;
}

.link{
	color: #1881ac;
	font-size: 14px;
}

.selectall{
	padding-right: 11px;
	border-right: 1px solid #1881ac;
}

.selectclear{
	padding: 0 10px;
}

.btn-sbm{
	margin-top: 10px;
	height: 35px;
	padding: 0 35px 0 40px;
}

.btn-back{
	height: 35px;
	padding: 0 15px 0 40px;
	margin-top: 20px;
}

.btn-back{
	background: 9px 50% url(../img/arrow_back.png) no-repeat, linear-gradient(to bottom, #1881ac, #1eb4da);
}

.btn-back:hover{
	background: 9px 50% url(../img/arrow_back.png) no-repeat, linear-gradient(to top, #1881ac, #1eb4da);
}

.data-table{
	margin-top: 14px;
}

.data-table th{
	height: 52px;
	background: #8dc6de;
	padding: 5px 10px;
	border-right: 1px solid white;
	font-weight: normal;
}

.data-table td{
	padding: 10px;
	border-right: 1px solid white;
}

.data-table td:last-child{
	border: none;
}

.data-table tr{
	height: 80px;
}

.data-table tr:nth-child(even){
	background: #e3e3e3;
}

.data-table tr:nth-child(odd){
	background: #f0f0f0;
}

/*Вспомогательные стили общего назначения*/
.hidden {
    display: none !important;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

